<h1><center>Dashbaord</center></h1>
<!-- <P> {{tasks123}} </p>
 -->
<div class="container well" id = "content" style="margin-top:15px;width:300px;border-color:blue; background-color:#7FFFD4">
 	<table>
 	<tr>
 	<td><h3>Users</h3> </td>
 	<td>:</td>
 	<td><h5>{{users.length}}</h5></td>
 	</tr>
 	<tr>
 	<td><h3>last updated &nbsp;</h3></td>
 	<td>:</td>
 	<td><h5>Date: {{date | date:'MM/dd/yyyy @ h:mma'}}</h5></td>

  	</tr> 
  	
</table>
 </div>