<center>
<div>
    <div>
        <h3>Add New Task</h3>
    </div>
        <form id="task_form" ng-submit="addTask()">
            <label>Task Name</label>
            <input type="text" id="new_task_name" name="TaskName" ng-model="TaskName" required></br>
            <label>Project</label>
            <input type="text" id="new_project" name="Project" ng-model="Project" ng-maxlength='7' ng-minlength='2'></br>
            <label>Task Type</label>
            <input type="text" id="new_task_type" name="TaskType" ng-model="TaskType"></br>
            <label>ETA Hours</label>
            <input type="number" id="new_eta_hrs" name="ETAHours" ng-model="ETAHours"></br>
            <label>Actual Hours</label>
            <input type="number" id="new_actual_hrs" name="ActualHours" ng-model="ActualHours"></br>
            <label>Status</label>
            <select ng-model="Status" bs-selectbox>
            <option value="Pending">Pending</option>
            <option value="Done">Done</option>
            <option value="OnProgress">OnProgress</option>
           </select></br>
            

            <input type="submit" id="post_submit_btn" value="Add Post" class="btn btn-primary">
            <a href="/#/tasks" class="btn btn-default">Back</a>
        </form>      
</div>
</center>

