<!doctype html>
  <center class=homebody>
    <h2> Angularjs</h2><br>
    <html ng-app>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    </head>
    <body>
    <div>
    <h4> U want to see something wonder................?</h4>
    <input type="text" ng-model="yourName" placeholder="Type here...">
    <h1>Hello {{yourName}}!</h1>
    </div>
    </body>
    </html>

    <hr>
    <h4> U want to learn Angularjs.......?</h4>
    <a href="http://angularjs.org/" class="btn btn-primary">Click here</a></center>